<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dorjoo.godotadiveryplugin">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAdiveryPlugin"
            android:value="com.dorjoo.godotadiveryplugin.GodotAdiveryPlugin" />
    </application>
</manifest>

